* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

:root[data-theme='dark'] {
  --main-dark: #0b0b28;
  --main-light: #101041;
  --text-light: #ffffff;
  --white: #ffffff;
  --grey: #363636;
}

:root[data-theme='light'] {
  --main-dark: #a0dbfd;
  --main-light: #cee5f7;
  --text-light: #363636;
  --white: #ffffff;
  --grey: #363636;
}

body {
  width: 100%;
  margin: 0 auto;

  font-size: 1.5em;
  background-color: var(--main-light);
  color: var(--text-light);
  scroll-behavior: smooth;
}

.header {
  background-color: var(--main-dark);
  color: var(--text-light);
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
}
.header h1 {
  text-align: center;
}

.search {
  display: flex;
  gap: 10px;
}

.search__input {
  width: 350px;
  font-size: 1em;
}
.checkbox__input {
  margin-right: 10px;
  cursor: pointer;
  width: 15px;
  height: 15px;
}
.person label {
  padding-top: 20px;
  font-size: 0.7em;
  cursor: pointer;
}

.search__button,
.unselect-btn,
.download-btn {
  cursor: pointer;
  background-color: var(--main-light);
  border: 1px solid var(--text-light);
  max-width: 200px;
  padding: 10px;
  font-size: 1em;
  color: var(--text-light);
}

.search__button:hover,
.unselect-btn:hover,
.download-btn:hover {
  filter: brightness(90%);
  transition: 0.5s;
}
.people-list {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.main {
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--main-light);
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.people-wrapper {
  display: flex;
  flex-direction: row;
}
.people-list a:hover {
  transform: scale(1.03);
  transition: all 1s;
}
.people-list a {
  width: 15%;
  min-width: 250px;
  border: 1px solid var(--text-light);
  background-color: var(--main-dark);
  padding: 20px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: var(--text-light);
}
.person {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.person i {
  color: var(--text-light);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.person-detail {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  margin: 0 7px;
  position: sticky;
  right: 0;
}
.person-detail-info {
  display: flex;
  flex-direction: column;
  width: 350px;
  background-color: var(--white);
  color: var(--grey);
  padding: 20px;
}
.person-detail-info ul {
  list-style: none;
}
.person-detail-info span {
  cursor: pointer;
  align-self: flex-end;
  color: var(--main-dark);
}
.person-detail-info h2 {
  border-bottom: 1px solid var(--main-dark);
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: var(--main-dark);
}
.preloader {
  margin: 50px auto;
  width: 8vmax;
  height: 8vmax;
  border-right: 4px solid var(--text-light);
  border-radius: 100%;
  animation: spinRight 800ms linear infinite;
}

.preloader:before,
.preloader:after {
  content: '';
  width: 6vmax;
  height: 6vmax;
  display: block;
  position: absolute;
  top: calc(50% - 3vmax);
  left: calc(50% - 3vmax);
  border-left: 3px solid var(--text-light);
  border-radius: 100%;
  animation: spinLeft 800ms linear infinite;
}

.preloader:after {
  width: 4vmax;
  height: 4vmax;
  top: calc(50% - 2vmax);
  left: calc(50% - 2vmax);
  border: 0;
  border-right: 2px solid var(--text-light);
  animation: none;
}
.theme_selector {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.theme_selector i {
  color: var(--text-light);
}
.theme_selector i:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.flyout-box {
  padding: 20px;
  background-color: var(--white);
  color: var(--grey);
  border: 1px solid var(--grey);
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

@keyframes spinLeft {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}

@keyframes spinRight {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.arrow {
  font-size: 1em;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  color: var(--text-light);
  background-color: var(--main-light);
  border: none;
  font-family: 'Courier New', Courier, monospace;
}

.arrow:hover {
  color: var(--main-dark);
}

.disabled {
  pointer-events: none;
  color: var(--text-dark);
}

.error-page {
  background-color: var(--main-light);
  color: var(--text-light);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .people-list a {
    width: 15%;
    min-width: 200px;
  }
}
@media (max-width: 570px) {
  .search {
    flex-direction: column;
    align-items: center;
  }
  .people-list {
    flex-direction: column;
    align-items: center;
    order: 1;
  }
  .people-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .people-list a {
    width: 90%;
  }
  .person-detail {
    order: 0;
  }
}
